/*
Xenathor Studios Style Sheet
-Uses the 960px layout
Author: Maxwell Battles
*/

$nav-links: Forum, Games, About;

* {
	font-family: "verdana";
}

body {
	margin: 0px;
	background-color: #C0C0C0;
	z-index: 1;
}

div.header {
	padding-top: 0px;
	margin: 0px;
	text-align: left;
}

div.header_img_container {
	background-color: #2E314B;
	text-align: center;
	padding: 0px;
	margin-left: 17.708333333333333333333333333333%;
	margin-right: 17.708333333333333333333333333333%;
	margin-top: 0%;
	margin-bottom: 0%;
}

#header_img {
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0%;
	object-fit: contain;
}

#nav_img {
	margin-right: 01.041666666666666666666666666667%;
	float: left;
}

div.nav .icon {
	display: none;
}

div.nav ul {
	list-style: none;
	display: inline-table;
	margin-top: 13px;
	overflow: hidden;
}

div.nav ul:after {
	content: "";
	clear: both;
	display: block;
	background: #000000;
}

div.nav ul li {
	float: left;
}

div.nav ul li a:link {
	display: block;
	padding: 10px 10px;
	color: #FFFFFF;
	text-decoration: none;
}

div.nav ul li a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

div.nav ul li:hover {
	background: #FFFFFF;
}

div.nav ul li:hover a {
	color: #000000;
}

div.nav ul li.right {
	float: right;
}

div.content {
	width: 64.583333333333333333333333333333%;
	margin-left: 17.708333333333333333333333333333%;
	margin-right: 17.708333333333333333333333333333%;
	margin-top: 0%;
	margin-bottom: 0%;
	z-index: 2;
	text-align: left;
	background-color: #FFFFFF;
}

div.content a:link {
	color: #0099FF;
}

div.content a:visited {
	color: purple;
}

div.content a:hover {
	color: #FF66FF;
}

div.content a:active {
	color: #CC00CC;
}

#content_head, #news_head {
	border-bottom: 2px solid #4D4D4D;
	margin: 0%;
	margin-bottom: 30px;
	background-color: #FFFFFF;
}

#content_head h1, #news_head h1 {
	color: #000000;
	margin: 0%;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#content_head p, #news_head p {
	color: #000000;
	margin: 0%;
	padding-left: 15px;
	padding-top: 0px;
	padding-bottom: 5px;
}

div.news_body {
	margin-top: 10px;
	margin-bottom: 15px;
	margin-left: 01.041666666666666666666666666667%;
	margin-right: 01.041666666666666666666666666667%;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #A3A3A3;
	-moz-box-shadow: 0 0 5px #808080;
	-webkit-box-shadow: 0 0 5px #808080;
	box-shadow: 0 0 5px #808080
}

div.content_body {
	margin-top: 10px;
	margin-bottom: 15px;
	margin-left: 01.041666666666666666666666666667%;
	margin-right: 01.041666666666666666666666666667%;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.content_body h1 h2 h3 h4 {
	margin: 0%;
	color: #000000;
}

div.content_body p {
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 20px;
	padding: 5px;
}

div.content_img_container {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 01.041666666666666666666666666667%;
	margin-right: 01.041666666666666666666666666667%;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#content_img {
	width: 60%;
	height: auto;
	object-fit: contain;
}

table {
	width: auto;
}

td, th {
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

#space {
	margin: 0%;
	padding: 0%;
	height: 30px;
	width: 64.583333333333333333333333333333%;
	background-color: #FFFFFF;
}

footer, div.nav {
	background-color: #000000;
	width: 100%;
	padding: 0px;
	margin: 0px;
	display: block;
}

#contact {
	float: center;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	margin-right: 7.2%;
	display: block;
}

#contact p {
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 1px;
	margin: 0%;
}

#author {
	float: left;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	display: inline-block;
}

#author p {
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 1px;
	margin: 0%;
}

/*For mobile*/
@media only screen and (max-width: 767px) {
	#nav_img {float: none; display: flex; justify-content: center; flex-direction: column;}
	div.nav ul li.right, div.nav ul li {float: none; margin-left: auto; margin-right: auto;}
	footer, div.nav {text-align: center; display: block;}
	#contact, #author {display: block; float:none; flex-direction: column; margin-left: auto; margin-right: auto;}
}